<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	<welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>        
	</welcome-file-list>
	<servlet>
		<servlet-name>apiid</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jakarta.ws.rs.Application</param-name>
            <param-value>org.oceanops.api.id.Application</param-value>
        </init-param>
	</servlet>
	<servlet>
		<servlet-name>OpenApiDefinition</servlet-name>
		<servlet-class>org.oceanops.api.id.OpenApiDefinition</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OpenApiDefinition</servlet-name>
		<url-pattern>/app/oceanops-apiid.yaml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>apiid</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>

	
	<filter>
		<filter-name>CayenneFilter</filter-name>
		<filter-class>org.oceanops.api.id.filters.CayenneFilter</filter-class>
		<init-param>
			<param-name>configuration-location</param-name>
			<param-value>cayenne-OceanOPS-API.xml</param-value>
		</init-param>
		<init-param>
			<param-name>pathToBeIgnored</param-name>
			<param-value>/oceanops-apiid.yaml</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>org.oceanops.api.filters.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CayenneFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>
	
	<resource-ref>
		<description>OceanOPS DB Connection</description>
		<res-ref-name>jdbc/OceanOPSpgDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>